body{
     font-family: "DM Sans", sans-serif;
}
/* navbar */
.custom-nav-butn {
    background-color: #5fcac7 !important;
    border-color: #5fcac7 !important;
    color: #ffffff !important;
    border-radius: 50px;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.custom-nav-butn:hover {
    background-color: #4aa9a7 !important; 
    border-color: #4aa9a7 !important;
}

/* icon color */
.custom-colr {
    color: rgb(75, 67, 66);
}

/* hero section */
.hero-text h1 {
    font-size:72px ;
    font-weight: 700;
}

.custom-white {

    color:rgb(255, 255, 255);
}


.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4); /* halka dark overlay */
  z-index: 1;
}

/* make sure content upar aaye */
.hero-section .container {
  position: relative;
  z-index: 2;
}



/* items-section */
.items-section {
    background-image: url(../../../assets/images/bakery4-5-1200x800.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.items-section h1 {
    color: rgb(75, 67, 66);
    font-size: 58px;
}


